[z_tilt]

z_positions: #Kugeln
   -58.00, -34.6                
    112.00, 288.7                
    282.40, -34.6 

    #-58.20, -1               
    #115.00, 271.2         
    #288.20, -1
 
points: #Probpunkte
  20, 0      
  115, 185 #200    #164, 228    #135, 260
  200, 0      #294, -12    #280, -16


 


  
    
    
   

speed: 300
horizontal_move_z: 2
retries: 10
retry_tolerance: 0.005